<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    
</head>
<body>
    
</body>
<h1>Mis productos</h1>

<div class="contenedorCards">
    {{#each productos}}
    <div class="card">
        <figure>
            <img src={{this.thumbnail.[0].imagen1}}>
        </figure>
        <div class="contenido">
            <h3>{{this.title}} </h3>
            
            <p>{{this.description}} </p>
            <p>${{this.price}} </p>
        </div>
    </div>
    {{/each}}
</div>
<script src="/socket.io/socket.io.js"></script>
    <script src="../public/js/index.js"></script>
</body>
</html>